<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
    <h2> Counter: <%= counter %></h2>
    <form action = '/add2' method = "post">
        <button>add 2</button>
    </form>
    <br>
    <form action = '/reset' method = "post">
        <button>reset</button>
    </form>
</body>
</html>