<!DOCTYPE html>
<html>
    <head>
       <title>Form Test Index</title>
    </head>
    <body>
        <form action='/result' method='post'>
            Your Name: <input type='text' name='name'>
            <br>
            <br>
            Dojo Location: <select name='dojolocation'>
                <option value="San Jose">San Jose</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Seattle">Seattle</option>
            </select>
            <br>
            <br>
            Favorite Language: <select name='favoritelanguage'>
                 <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="Mean">Mean</option>
            </select>
            <br>
            <br>
            Comment (optional): <input type='text' name='comment'>
            <br>
            <br>
            <button type="submit" name='Button'>Button</button>
        </form>
    </body>
</html>